<span style="font-size:1.3em;">
  {% if site.facebook %}
    <a href="https://www.facebook.com/{{ site.facebook }}">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
  {% endif %}
  {% if site.twitter %}
    <a href="https://www.twitter.com/{{ site.twitter }}">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
  {% endif %}
  {% if site.instagram %}
    <a href="https://www.instagram.com/{{ site.instagram }}">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  {% endif %}
  {% if site.github %}
    <a href="https://www.github.com/{{ site.github }}">
      <i class="fa fa-github-square" aria-hidden="true"></i>
    </a>
  {% endif %}
  {% if site.linkedin %}
    <a href="https://www.linkedin.com/{{ site.linkedin }}">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
  {% endif %}
  {% if site.googleplus %}
    <a href="https://plus.google.com/{{ site.googleplus }}">
      <i class="fa fa-google-plus-square" aria-hidden="true"></i>
    </a>
  {% endif %}
</span>
