---
layout: page
title: Categories
navigation: true
logo: 'assets/images/ghost.png'
current: categories
cover: 'assets/images/cover1.jpg'
permalink: /categories/
---
<div class="tag-cloud">
  {% for category in site.categories %}
    <a href="#{{ category[0] | slugify }}">{{ category[0] | downcase }}</a>
  {% endfor %}
</div>
<hr/>
<div style="text-decoration: none;">
  {% for category in site.categories %}
  <h3 id="{{ category[0] | slugify }}">{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <a href="{{ post.url }}">
    <li>
      {{ post.title }}
      <small>{{ post.date | date_to_string }}</small>
    </li>
    </a>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
