---
layout: default
title: Author
class: 'author-template'
navigation: True
label: Author
logo: 'assets/images/merakipost.svg'
current: author
---

{% assign sorted-posts = site.posts | where: "author", page.author %}
{% for post in sorted-posts  %}
    {% capture post_count %}{{ post_count | plus: 1 }}{% endcapture %}
{% endfor %}

<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header -->

<!-- Everything inside the #author tags pulls data from the author -->
<!-- #author  -->
    <header class="main-header author-head" style="background-image: url({{ site.baseurl }}{{ page.cover }})">
        <nav class="main-nav overlay clearfix">
            {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            {% if page.navigation %}
              <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
              {{ include navigation.html }}
            {% endif %}
        </nav>
    </header>

{% assign author = site.authors[page.author] %}
    <section class="author-profile inner">
        {% if author.image %}
        <figure class="author-image">
            <div class="img" style="background-image: url({{ site.baseurl }}{{ author.image }})"><span class="hidden">{{ author.displayname }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h1 class="author-title">{{ author.displayname }}</h1>
        {% if author.bio %}
            <h2 class="author-bio">{{ author.bio }}</h2>
        {% endif %}
        <div class="author-meta">
            {% if author.location %}<span class="author-location icon-location">{{ author.location }}</span>{% endif %}
            {% if author.url %}<span class="author-link icon-link"><a href="{{ author.url }}">{{ author.shorturl }}</a></span>{% endif %}
            <!-- <span class="author-stats"><i class="icon-stats"></i> [[plural ../pagination.total empty='No posts' singular='% post' plural='% posts']]</span> -->
            <span class="author-stats"><i class="icon-stats"></i>{% if post_count == "1" %}1 post{% else %}{{ post_count }} posts{% endif %}</span>
        </div>
        <div class="author-meta">
          <span class="fa">
            {% if author.twitter %}
              <a href="https://www.twitter.com/{{ author.twitter }}">
                <i class="fa icon-twitter" aria-hidden="true"></i>@{{ author.twitter }}
              </a>
            {% endif %}
            {% if author.facebook %}
              <a href="https://www.facebook.com/{{ author.facebook }}">
                <i class="fa icon-facebook" aria-hidden="true"></i>{{ author.facebook }}
              </a>
            {% endif %}
          </span>
        </div>
    </section>
<!-- /author -->


{% assign sorted-posts = site.posts | where: "author", page.author %}
{% for post in sorted-posts limit: 10  %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {% if post.subtitle %}
              <h3 class="post-subtitle">by {{ post.subtitle }}</h3>
            {% endif %}
        </header>
        <section class="post-excerpt">
            <p>{{ post.content | strip_html | truncatewords: 75 }} <a class="read-more" href="{{ post.url }}">&raquo;</a></p>
        </section>
        <footer class="post-meta">
            <!-- author -->
            <!--<a href='{{ site.baseurl }}author/{{ author.name }}'>{{ author.displayname }}</a>-->
            <a href="/author/{{ author.name }}">{{ author.displayname }}</a>
            <!-- [[tags prefix=" on "]] -->
            {% if post.tags.size > 0 %}
                in
                {% for tag in post.tags %}
                    {% if forloop.index == post.tags.size %}
                       <a href="{{ site.tagpage }}#{{ tag | slugify }}">{{ tag }}</a>
                    {% else %}
                       <a href="{{ site.tagpage }}#{{ tag | slugify }}">{{ tag }}</a>,
                    {% endif %}
                {% endfor %}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">on {{ post.date | date:'%Y-%m-%d' }}</time>
        </footer>
    </article>

{% endfor %}
